<div class="container">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editar pelicula</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cerrarModalEditar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editarPeliculaForm">
      <div class="form-group">
        <div class="form-group">
          <label>Id</label>
          <input type="text"
                 formControlName="input-id"
                 class="form-control"
                 readonly>
        </div>
        <div class="form-group">
          <label>Nombre</label>
          <input type="text"
                 formControlName="input-nombre"
                 class="form-control">
        </div>
        <div class="form-group">
          <label>Director</label>
          <input type="text"
                 formControlName="input-director"
                 class="form-control">
        </div>
        <div class="form-group">
          <label>Genero</label>
          <select name=""
                  id=""
                  formControlName="select-genero"
                  class="form-control">
            <option value="" disabled hidden>Seleccione un genero</option>
            <option value="Drama">Drama</option>
            <option value="comedia">Comedia</option>
            <option value="accion">Acción</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!editarPeliculaForm.valid"
            class="btn btn-primary"
            (click)="guardarPelicula()">Guardar cambios
    </button>
    <button class="btn btn-danger"
            (click)="cerrarModalEditar()">Cancelar
    </button>
  </div>
</div>
