/* You can add global styles to this file, and also import other style files */
.container-fluid {
  padding: 0;
}

/*----------------- Clase para el contenedor (Borde) --------------------------- */
.delimitador {
  border: solid 1px #c7ccd1;
  padding: 20px;
  border-radius: 10px;
}

/*----------------- Clase para el botón aceptar --------------------------- */
.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 0 0 0;
}

/*------------------ Clase para los iconos ---------------------------------*/
.fa {
  cursor: pointer;
}

/*------------------ Validaciones en las forms -----------------------------*/
.form-control.ng-invalid {
  border-color: #dc3545
}

.form-control.ng-valid {
  border-color: #28a745
}

.form-control.ng-pristine {
  border-color: #ced4da
}
