<div class="container-fluid">
  <div class="row pb-3">
    <div class="col-md-12">
      <!--<div class="d-flex align-items-center">-->
        <app-agregar-pelicula (nuevaPeli)="agregarPelicula($event)"></app-agregar-pelicula>
      <!--</div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Peliculas</h1>
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>director</th>
          <th>clasificacion</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pelicula of listadoPeliculas | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{pelicula.id}}</td>
          <td>{{pelicula.nombre}}</td>
          <td>{{pelicula.director}}</td>
          <td>{{pelicula.clasificacion}}</td>
          <td>
            <a (click)="abrirModal(modalEditar, pelicula)">
              <i class="fa fa-pencil"></i>
            </a>
            <a (click)="abrirModal(modalEliminar, pelicula)">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"
                           previousLabel="Anterior"
                           nextLabel="Siguiente">
      </pagination-controls>

      <button class="btn btn-primary">Guardar lista</button>
    </div>


  </div>
  <!--</div>-->
</div>
<!--###################################-->
<!--###################################-->
<!--###################################-->
<!--           Modal Eliminar          -->
<!--###################################-->
<!--###################################-->
<!--###################################-->
<ng-template #modalEliminar>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Eliminar pelicula</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ¿Está seguro que desea eliminar {{peliculaAEliminar.nombre}}?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            (click)="eliminarPelicula()">Eliminar
    </button>
    <button class="btn btn-danger"
            (click)="modalRef.hide()">Cancelar
    </button>
  </div>
</ng-template>

<!--###################################-->
<!--###################################-->
<!--###################################-->
<!--           Modal Editar            -->
<!--###################################-->
<!--###################################-->
<!--###################################-->
<ng-template #modalEditar>
  <app-actualizar-pelicula [peliculaAEditar]="peliculaAEditar"
                           (cerrar)="modalRef.hide()"
                           (peliEditada)="guardarPeliculaEditada($event)"></app-actualizar-pelicula>
</ng-template>
