<div class="container-fluid">
  <h1>Agregar pelicula</h1>

  <div class="">
    <form [formGroup]="agregarPeliculaForm">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Numero identificatorio</label>
          <input type="number"
                 id="input-id"
                 formControlName="input-id"
                 class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label>Nombre</label>
          <input formControlName="input-nombre"
                 id="input-nombre"
                 class="form-control">
        </div>
        <!--<div *ngIf="agregarPeliculaForm.hasError('validarIdentificacion')">-->
        <!--error-->
        <!--</div>-->
        <div class="form-group col-md-3">
          <label>Director</label>
          <input formControlName="input-director"
                 id="input-director"
                 class="form-control">
        </div>
        <div class="form-group col-md-3">
          <label>Genero</label>
          <select formControlName="select-genero"
                  name=""
                  id="select-genero"
                  class="form-control">
            <option hidden disabled>Seleccione un genero</option>
            <option value="drama">Drama</option>
            <option value="comedia">Comedia</option>
            <option value="accion">Acción</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="">
    <button [disabled]="!agregarPeliculaForm.valid"
            (click)="agregarPelicula()"
            id="button-peliculas"
            class="btn btn-primary">Agregar Pelicula
    </button>
  </div>
</div>
