<div class="container-fluid">

  <div class="delimitador">
    <form [formGroup]="loginForm">

      <div class="col-md-12 col-xs-12 pl-5 pr-5">
        <div class="row pb-3">
          <div class="col-md-4 col-xs-4">
          </div>

          <div class="col-md-4 col-xs-4">
            <div class="form-group">
              <label class="form-control-label" for="usuario">Usuario:</label>
              <input formControlName="usuario" type="text" class="form-control" id="usuario">
            </div>
          </div>
          <div class="col-md-4 col-xs-4">

          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-4 col-xs-4">

          </div>

          <div class="col-md-4 col-xs-4">
            <div class="form-group">
              <label class="form-control-label" for="password">Contraseña: </label>
              <input formControlName="password" id="password" type="password" class="form-control">
            </div>
          </div>

          <div class="col-md-4 col-xs-4">

          </div>
        </div>
        <div class="row pb-3">
          <div class="col-md-4 col-xs-4">

          </div>

          <div class="col-md-4 col-xs-4">
            <label *ngIf="usuarioClaveIncorrecta">Usuario o Password incorrecta</label>
          </div>

          <div class="col-md-4 col-xs-4">

          </div>
        </div>
      </div>

      <div class="wrapper">
        <button type="button"
                (click)="login()"
                [disabled]="!this.loginForm.valid"
                class="btn btn-final">Aceptar</button>

      </div>

    </form>
  </div>
</div>
